html, body {
    height: 100%;
}
body {
    background-image:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
.main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postButtons {
    background-color: yellow;
    padding: 10px;
}