body {
    background-image:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
.modal {
    display:none;
    position:fixed;
    z-index:1;
    top:0;
    bottom:0;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    color: black;
}
.modal-content {
    position: relative;
    top: 100px;
    left: 35px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    
}
.modalForm {
    display: flex;
    flex-direction: column;
    
}
.modalButton {
    background-color:green;
    color: white;
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid #888;
}
.label-text {
    margin: 10px 0px;
}
.input-text {
    padding: 10px;
    background-color:#F0F0F0;
    border:  1px solid #888;
}
.closeBtn {
    color:#ccc;
    float: right;
    font-size: 30px;
}
.closeBtn:hover {
    color:#000;
    text-decoration: none;
    cursor: pointer;
}