.postContainer {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px 30px;
}
.postTitle {
    width: 100%;
    text-align: center;
}
.floatRight {
    position: absolute;
    right: 60px;
    padding: 10px;
}
.author {
    font-family: 'ubuntu-mono', monospace;
    font-size:large;
}
.postDesc {
    margin-top: 0px;
    text-align: justify;
}