.mainBlock {
    width: 95%;
    margin: 0px 30px;
}
.postContainer {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.commentBlock {
    margin: 10px 0px;
}
.postTitle {
    width: 100%;
    text-align: center;
    margin:0%;
    line-height: 0vmin;
}
.right {
    position: absolute;
    right: 60px;
    padding: 10px;
}
.author {
    font-family: 'ubuntu-mono', monospace;
    font-size:large;
    line-height: 0vmin;
}
.postDesc {
    text-align: justify;
    height: 10em;
    overflow: auto;
}
.allComments {
    border-style: solid;
    border-color: lightgrey;
    border-width: 10px 5px;
}
.likeBlock {
    margin: 10px 0px;
}